@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

body{
	font-family: "Lato";
	font-weight: 400;
}

a{
	font-family: "Roboto";
	font-weight: 700;
	color: #8A2BE2;
}

h1{
	font-weight: 900;
	color: #8B4513;
}

.header-title + p{
	color: #008000;
}

.header-text span{
	font-weight: 700;
	color: #8B4513;
}

.poem-text p{
	font-family: "Larsseit";
	font-weight: 400;
	color: #4682B4;
}

p.blockquote{
	font-family: "Roboto";
	font-weight: 500;
	color: #8B0000;
}

.poem-text span{
	font-family: "Larsseit";
	font-weight: 500;
}

.poem-text a{
	color: #008000;
}

.source{
	font-family: "Roboto";
	font-weight: 700;
	color: orange;
}

.front-row-text p{
	color: #5F9EA0;
}

.french-style-img ~ div{
	color: #228B22;
}

.dad-and-mom-text{
	color: #4169E1;
}

.first-major-role-img ~ div{
	color: #B8860B;
}

.first-major-role-text{
	font-family: "Roboto";
	font-weight: 400;
}

.optimistic-mystic-text p{
	color: #4682B4;
}

.wife-text{
	color: #B22222;
}

.footer-text{
	font-family: "Larsseit";
	font-weight: 400;
	color: #2E8B57;
}

.footer-text a{
	font-family: "Larsseit";
	font-weight: 700;
}

.footer-link{
	color: #008000;
}